<section class="section contact-section" id="contato">
  <app-title-section name="Contact us" />
  <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <input name="name" placeholder="Your Email" formControlName="name" />
    <input
      name="email"
      placeholder="example@gmail.com"
      formControlName="email"
      type="email"
    />
    <input
      name="phone"
      placeholder="00 00000-0000"
      formControlName="phone"
      type="tel"
    />
    <textarea
      name="message"
      placeholder="messages for us"
      rows="3"
      formControlName="message"
      minlength="50"
    ></textarea>
    <app-button color="tertiary" size="lg" type="submit">Send Your query</app-button>
  </form>
</section>
