<section class="section gallery-section">
  <app-title-section name="Ongoing Projects" />
  <div class="gallery">
    <div
      class="gallery-item"
      (click)="onOpenModal(item.id)"
      *ngFor="let item of galleryList"
    >
      <img
        [src]="'/images/' + item.mainPhoto"
        [alt]="item.name"
        loading="lazy"
      />
      <p>{{ item.generalDescription }}</p>
    </div>
  </div>
  <!-- <ng-container *ngIf="selectedGallery$ | async as selectedGallery">
    <app-modal #modal>
      <h5 class="gallery-title">{{ selectedGallery.name }}</h5>
      <app-carousel [images]="selectedGallery.photos" />
    </app-modal>
  </ng-container> -->
</section>
