<section class="section formation-section" id="formacao">
  <app-title-section name="Our Team Members" />
  <div class="formation-list">
    @for (item of educationList; track item.title) {
    <div class="formation-item">
      <div>
        <h4 class="title">{{ item.title }}</h4>
        <p class="description">
          {{ item.description }}
        </p>
      </div>
      <div class="formation-duration">
        <h4 class="title university">{{ item.university }}</h4>
        <p class="chip">
          {{ item.type }}
          <span>{{ item.duration }}</span>
        </p>
      </div>
    </div>
    }
  </div>
</section>
