.call-me-section {
  background-color: #f9f9f9;

  .section {
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 16px;
    text-align: center;
  }

  h4 {
    color: var(--gray);
    font-size: 16px;
    text-transform: uppercase;
  }
}

.footer-section {
  background-color: var(--gray);
  max-width: 100%;

  .section {
    align-items: center;
    padding: 12px 0;
  }

  p {
    font-size: 12px;
    font-weight: 300;
    color: var(--white);
    letter-spacing: 1px;
  }

  .contact-list {
    display: flex;
    gap: 12px;
    padding: 44px 0;

    a {
      all: unset;
      cursor: pointer;
      background-color: #3e412d;
      border-radius: 100%;
      padding: 20px;
      margin: auto;
      color: var(--white);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--white);
        color: var(--gray);
      }
    }
  }
}

@media (min-width: 640px) {
  .call-me-section {
    .section {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
